<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Excel To HTML using codebeautify.org</title>
</head>
<body>
<div style="width: 100%;max-width: 786px !important;margin: 0 auto;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: -30px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 786px !important">
        <tbody>
        <tr>
            <td valign="top"  style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>
                    <tr>
                        <td style="width: 50%;">
                            <div style="padding-bottom: 70px;">
                                <img align="none" height="66" src="http://conweigh.s3.amazonaws.com/logoForVgm.jpeg" style="width: 300px;height: 100px;margin: 0px;border: 0;outline: none;text-decoration: none;" width="230">
                            </div>
                        </td>
                        <td style="text-align: center;word-break: break-word;color: #333333;font-family: Helvetica;font-size: 12px;padding-top: 10px;width: 50%;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin-bottom: 50px;">
                                <tbody>
                                <tr>
                                    <td>
                                        <h1 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px">Tax Invoice</h1>
                                    </td>
                                    <td>
                                        <h1 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px"> {{BOOKING_NUMBER}} </h1>
                                    </td>
                                </tr>
                                <tr style="font-family: sans-serif;">
                                    <td>
                                        <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px; font-weight: normal">Invoice Date</h2>
                                    </td>
                                    <td>
                                        <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px; font-weight: normal"> {{INVOICE_DATE}} </h2>
                                    </td>
                                </tr>
                                <tr style="font-family: sans-serif;">
                                    <td>
                                        <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px; font-weight: normal">Customer Ref</h2>
                                    </td>
                                    <td>
                                        <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0; text-align: left; margin: 8px 10px 8px 8px; font-weight: normal"> {{CUSTOMER_NO}} </h2>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 786px !important">
        <tbody>
        <tr>
            <td valign="top"  style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;width: 50%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr style="font-size: 15px;font-family: sans-serif;">
                        <td>
                            <h3 style="font-weight:normal; margin: 8px">Customer Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border: 2px solid rgba(60, 56, 56, 0.61);padding: 2px;margin-right: 25px;height: 100px;">
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> {{CUSTOMER_COMPANY_NAME}} </h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> {{CUSTOMER_ADDRESS}} </h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> P: {{CUSTOMER_COUNTRY_CODE}} {{CUSTOMER_PHONE}} </h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> E: {{CUSTOMER_EMAIL}} </h4>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td valign="top"  style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;width: 50%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr style="font-size: 15px;font-family: sans-serif;">
                        <td>
                            <h3 style="font-weight:normal; margin: 8px">Service Delivery Address</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border: 2px solid rgba(60, 56, 56, 0.61);padding: 2px;height: 100px;">
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> {{CONTRACTOR_COMPANY_NAME}} </h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> {{CONTRACTOR_ADDRESS}}</h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> P: {{CONTRACTOR_COUNTRY_CODE}} {{CONTRACTOR_PHONE}} </h4>
                                <h4 style="-webkit-margin-before: 2px;-webkit-margin-after: 2px;font-weight: normal"> E: {{CONTRACTOR_EMAIL}} </h4>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 786px !important;margin-top: 30px;border: 2px solid rgba(60, 56, 56, 0.61);">
        <thead>
        <tr>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 10%;padding: 10px;">Line</th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 20%;padding: 10px;">Item</th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 26%;padding: 10px;">Description</th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 10%;padding: 10px;">QTY</th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 12%;padding: 10px;">Price ea <span style="font-size: 13px; font-weight: normal">(Ex GST) (AUD)</span></th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 12%;padding: 10px;">0% GST <span style="font-size: 13px; font-weight: normal">(AUD)</span></th>
            <th style="border-left: 1px solid black;border-right: 2px solid rgba(60, 56, 56, 0.61);border-bottom: 1px solid black;width: 10%;padding: 10px;">Total <span style="font-size: 13px; font-weight: normal">(AUD) (Ex GST)</span></th>
        </tr>
        </thead>
        <tbody style="font-size: 14px">
        <tr>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">10</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Conweigh-{{NO_OF_CONTAINERS}}{{BOOKING_STYLE}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Container VGM - {{NO_OF_CONTAINERS}} x {{BOOKING_STYLEC}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">{{NO_OF_CONTAINERS}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{CHARGE_PER_CONTAINER}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{SERVICE_TAX_PRICE_ON_CONTAINER}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{CHARGE_OF_CONTAINER}}</td>
        </tr>
        <tr>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">20</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Travel-{{BOOKING_STYLE_KM}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Travel - Above {{ADDITIONAL_PER_KM}}km Allowance</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">{{ORIGINAL_KM_DUPLICATE}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{PRICE_KM}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{KM_BASE_PRICE_TAX}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{KM_BASE_PRICE_DUPLICATE}}</td>
        </tr>
        <tr>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">30</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Time-{{BOOKING_STYLE_TIME}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">Time - Above {{ADDITIONAL_PER_MIN}}min Allowance</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">{{duplicateTime}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{PRICE_MINS}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{TIME_BASE_PRICE_TAX}}</td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;">$ {{TIME_BASE_PRICE_DUPLICATE}}</td>
        </tr>
        <tr>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 20px 10px 10px 10px;">Container Numbers:
                <table>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                    <tr>
                        <td>JK</td>
                    </tr>
                </table>
                <!--<span ng-repeat="container in containers">{{container}}</span>-->
            </td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
            <td style="border-right:2px solid rgba(60, 56, 56, 0.61);padding: 10px;"></td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 786px !important; margin: -10px 0 -10px 0">

        <tbody>
        <tr>
            <td>
                <h5 style="font-size: 11px;text-align: center;color: #525655;">Unless Otherwise agreed in writing, The goods or services contained in this invoice are supplied in accordance with Conweigh\'s Terms & Conditions of Sale.</h5>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 786px !important">
        <tbody>
        <tr>
            <td valign="top"  style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;width: 50%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <div style="border: 2px solid rgba(60, 56, 56, 0.61);padding: 2px;margin-right: 25px;height: 180px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="-webkit-margin-before: 0;-webkit-margin-after: 0;">Payment Details</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%;">
                                            <div style="-webkit-margin-before: 0.2em;-webkit-margin-after: 0;background-color: white;padding-left: 30px;">Terms: Card</div>
                                        </td>
                                        <td style="width: 50%;">
                                            <div style="-webkit-margin-before: 0.2em;-webkit-margin-after: 0;padding-left: 2px;">Status:</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="white-space: nowrap;"> Card Logo Card Name </p>
                                            <p style="white-space: nowrap;-webkit-margin-before: -0.9em;">{{TIME_BASE_PRICE_DUPLICATE}}</p>
                                        </td>
                                        <td style="border-bottom: 2px solid rgba(60, 56, 56, 0.61);">
                                            <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0;padding-left: 66px;"> {{SHOW_VALUE}}</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 style="margin-left: 1px;">Total Outstanding</h3>
                                            <p style="-webkit-margin-before: -18px;font-size: 12px;margin-left: 90px;"> (*AUD*) </p>
                                        </td>
                                        <td>
                                            <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0;border-bottom: 6px solid gray;margin-bottom: -16px;padding-left: 75px; text-align: right">$ {{TOTAL_PRICE}}</h2>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td valign="top"  style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;width: 50%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <div style="border: 2px solid rgba(60, 56, 56, 0.61);padding: 2px;height: 180px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p style="margin-left: 135px;">Subtotal</p>
                                            <p style="-webkit-margin-before: -1.5em;font-size: 10px;margin-left: 150px;">(*AUD*)</p>
                                        </td>
                                        <td>
                                            <p style="text-align: right">$ {{ACTUAL_PRICE}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="margin-left: 88px;margin-top: 5px;"> {{SERVICE_TAX}}% GST Total</p>
                                            <p style="-webkit-margin-before: -1.5em;font-size: 10px;margin-left: 150px;">(*AUD*)</p>
                                        </td>
                                        <td>
                                            <p style="text-align: right">$ {{SERVICE_TAX_PRICE}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 style="margin-left: 85px;margin-top: 8px;">Invoice Total</h3>
                                            <p style="-webkit-margin-before: -1.8em;font-size: 10px;margin-left: 150px;">(*AUD*)</p>
                                        </td>
                                        <td style="border-top: 2px solid gray;">
                                            <h2 style="-webkit-margin-before: 0;-webkit-margin-after: 0;border-bottom: 6px solid gray;margin-bottom: -17px; text-align: right">$ {{TOTAL_PRICE}}</h2>
                                        </td>
                                    </tr


                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 786px !important;margin-top: 6px;">
        <tbody>
        <tr style="color: #808080">
            <td style="width:50%;">
                <p style="font-size: 13px;-webkit-margin-before: 2px;">Conweigh Pty. Ltd (ABN 67 609 108 796)</p>
                <p style="-webkit-margin-before: -10px;font-size: 13px;">1/58 Frederick St. Northgate QLD Australia 4013</p>
                <p style="font-size: 13px;-webkit-margin-before: -10px;">www.conweigh.net</p>
            </td>
            <td style="width:50%;">
                <p style="font-size: 13px;-webkit-margin-before: -10px;">Phone: 1300 022 232 (int +61 7 3073 3901)</p>
                <p style="font-size: 13px;-webkit-margin-before: -10px;">email: ar@conweigh.net</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>